body {
  background-color: #000;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav"
    "crawler"
    "sidebar"
    "content"
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:

      "nav     nav"
      "crawler crawler"
      "sidebar content"
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav {
  margin: auto;
  height: auto;
  grid-area: nav;
  border: 5px solid green;
  border-radius: 10px;
  color: #1BA93C;
  background: black;
}

.main-nav li {
  list-style-type: none;
  display: block;
  margin: 4px;
  color: red;
  text-align: center;
}

.main-nav li a {
  list-style-type: none;
  display: block;
  margin: 4px;
  color: red;
  text-align: center;
  font-size: 1.8em;
  font-family: 'VT323', monospace;
}

.main-nav li a:hover {
  list-style-type: none;
  display: block;
  margin: 4px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'VT323', monospace;
}

.main-nav img {
  margin: 5px auto;
  width: 256px;
  display: block;
}

.main-nav a {
  text-decoration: none;
  color: white;
  display: block;
}

.nav-title {
  display: inline-block;
  font-family: 'Rakkas', cursive;
  font-size: 36px;
}

.nav-logout {
  list-style-type: none;
  display: block;
  margin: 4px;
  color: white;
  text-align: center;
  font-size: 1.8em;
  font-family: 'VT323', monospace;
}

.nav-logout:hover {
  list-style-type: none;
  display: block;
  margin: 4px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'VT323', monospace;
}

.crypto-form {
  background: black;
  margin: 20px 20%;
  padding: 10px;
  text-align: center;
  border: 5px solid green;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  color: white;
}

.submit-button {
  font-family: 'VT323', monospace;
  font-size: x-large;
  border: 2px solid;
  border-color: white;
  border-radius: 5px;
  background-color: black;
  color: red;
  margin-top: 20px;
}

.crypto-form input {
  margin: 5px;
}

.crypto-form button {
  margin: 5px;
}

.crypto-form a {
  color: white;
  text-decoration: none;
}

.crypto-form a:hover {
  color: red;

}

.side {
  background: black;
  height: 60vh;
  grid-area: sidebar;
  border: 5px solid green;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  color: white;
  overflow-y: auto;
}

.side ul {
  list-style-type: none;
}

.side button {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  border: 2px solid;
  border-color: white;
  border-radius: 5px;
  background-color: black;
  color: red;
  margin: 15px;
}

.side button:hover {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  border: 2px solid;
  border-color: red;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 15px;
}

#dosomething {
  margin-left: 30px;
}

.split-para {
  display:block;
  /* margin:10px; */
}

.split-para span {
  display:block;
  float:right;
  width:50%;
  margin-left:10px;
}

.content {
  background: black;
  grid-area: content;
  border: 5px solid green;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: white
}

.content-detail {
  margin-left: 25px;
}

.content button {
  font-family: 'VT323', monospace;
  font-size: 0.8em;
  border: 2px solid;
  border-color: white;
  border-radius: 5px;
  background-color: black;
  color: red;
  margin-top: 15px;
}

.content button:hover {
  font-family: 'VT323', monospace;
  font-size: 0.8em;
  border: 2px solid;
  border-color: red;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin-top: 15px;
}

.marquee {
  grid-area: crawler;
  background: black;
  /* height: auto; */
  /* width: 97.5%; */
  margin: 0.5 auto;
  white-space: nowrap;
  overflow: hidden;
  /* position: absolute; */
  border: 5px solid green;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  font-size: xx-large;
  color: white;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 100s linear infinite;
}

.marquee p {
  margin: 0
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
