
.wrapper {
  display: grid;
  grid-gap: 20px;
  overflow-y: auto;
  grid-template-areas:
    "nav"
    "sidebar"
    "content"
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:

      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav {
  grid-area: nav;
  text-align: center;
  border: 5px solid green;
  border-radius: 10px;
  height: 70px;
  color: #1BA93C;
  background: black;
}

.nav-title {
  font-family: 'Rakkas', cursive;
  font-size: 30px;
}

.side {
  background: black;
  grid-area: sidebar;
  border: 5px solid green;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  color: white
}

.side ul {
  list-style-type: none;
}

.split-para {
  display:block;
  /* margin:10px; */
}

.split-para span {
  display:block;
  float:right;
  width:50%;
  margin-left:10px;
}

.content {
  background: black;
  grid-area: content;
  border: 5px solid green;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  font-size: x-large;
  color: white
}

.content button {
  display:block;
  float:right;
  border-radius: 5px
}
