
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav"
    "sidebar"
    "content"
    "footer"
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:

      "nav     nav"
      "sidebar content"
      "footer  footer"
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav {
  margin: auto;
  height: auto;
  grid-area: nav;
  border: 5px solid green;
  border-radius: 10px;
  color: #1BA93C;
  background: black;
}

.main-nav li {
  list-style-type: none;
  display: block;
  padding: 8px;
}

.main-nav a {
  text-decoration-style: none
}

.nav-title {
  text-align: left;
  font-family: 'Rakkas', cursive;
  font-size: 30px;
}

.side {
  background: black;
  grid-area: sidebar;
  border: 5px solid green;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  color: white
}

.side ul {
  list-style-type: none;
}

.side button {
  border-radius: 5px;
  margin-left: 5px
}

.split-para {
  display:block;
  /* margin:10px; */
}

.split-para span {
  display:block;
  float:right;
  width:50%;
  margin-left:10px;
}

.content {
  background: black;
  grid-area: content;
  border: 5px solid green;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  font-size: x-large;
  color: white;
}

.content button {
  display:block;
  float:right;
  border-radius: 5px
}

$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.main-footer {
  grid-area: footer;
  border: 5px solid green;
  border-radius: 10px;
  color: #1BA93C;
  background: black;
  overflow: hidden;
  padding-left: 100%;
  /* position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9);
  padding-left: 100%;  */

}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;

  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: $duration;
          animation-duration: $duration;

  &__item {

    display: inline-block;

    padding: 0 2rem;
    font-size: 2rem;
    color: white;

  }

}
